.header-md:after {
    background-image: none !important;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-header {
    ion-toolbar {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-medium-contrast);
    }
}

ion-content {
    --background: -webkit-linear-gradient(top, var(--ion-color-primary) 0%,var(--ion-color-primary) 30%,var(--ion-color-medium-contrast) 40%,var(--ion-color-medium-contrast) 100%); /* Chrome10-25,Safari5.1-6 */
    --background: linear-gradient(to bottom, var(--ion-color-primary) 0%,var(--ion-color-primary) 30%,var(--ion-color-medium-contrast) 40%,var(--ion-color-medium-contrast) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.log_form_wrapper{
    width: 100%;
    height: 70%;
    position: relative;
}

.form_bg {
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;

    .page_title {
        padding-top: 20%;
        margin: 0;
        color: var(--ion-color-medium-contrast);
        font-weight: bold;
        font-size: 2rem;
    }

    .title_underbar {
        display: block;
        border-top: 5px solid var(--ion-color-medium-contrast);;
        padding: 0;
        margin: 1em 0;
    }

}

.logForm {
    background: transparent;        
    margin-top: 15%;
    ion-item {
        --border-color: rgba(255, 255, 255, 0.9);
        --highlight-color-focused: none;
        --background: transparent;
        --padding-start: 0;

        ion-label {
            --color: var(--ion-color-medium-contrast);
        }

        ion-input {
            color: var(--ion-color-medium-contrast);

            input::placeholder {
                color: var(--ion-color-medium-contrast);
            }
        }
    }

    .terms {
        ion-row {
            display: flex;
            align-items: center;
        }

        .terms_item {
            --border-color: transparent;
    
            ion-label {
                font-size: 0.9rem;
    
                a {
                    font-weight: bold;
                    color: var(--ion-color-medium-contrast);
                }
            }
            ion-checkbox {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.btn_wrapper {
    text-align: center;
    margin-top: -7%;
}

.sso_wrapper {
    text-align: center;
    padding: 0 10% 0 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    color: var(--ion-color-dark-tint);
    
    ion-button {
        width: 44px;
        height: 44px;
        font-size: 12px;

        ion-icon {
            font-size: 2rem;
        }
    }
}

.signup_wrapper {
    padding: 20px 0 10px 0;
    text-align: center;
    font-size: 0.9rem;
    color: var(--ion-color-dark-tint);

    a {
        font-weight: bold;
        color: var(--ion-color-dark);
        text-decoration: underline;
    }
}

.findpw_wrapper {
    text-align: center;
    font-size: 0.9rem;
    color: var(--ion-color-dark-tint);

    a {
        font-weight: bold;
        color: var(--ion-color-dark);
        text-decoration: underline;
    }
}