<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)="closeModal()" color="light">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="log_form_wrapper">
        <svg height="100%" width="100%">
            <ellipse cx="50%" cy="0" rx="160%" ry="100%" fill="#E93B44" />
        </svg>

        <div class="form_bg">
            <p class="page_title">Sign Up</p>
            <hr class="title_underbar" width="10%">

            <ion-list class="logForm">
                <ion-item>
                    <ion-label position="stacked">
                        Name
                    </ion-label>
                    <ion-input placeholder="Let us know your name" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        Email
                    </ion-label>
                    <ion-input placeholder="Email is used for login" type="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        Password
                    </ion-label>
                    <ion-input placeholder="At least 6 characters" type="password"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">
                        Confirm Password
                    </ion-label>
                    <ion-input placeholder="Confirm Password" type="password"></ion-input>
                </ion-item>

                <ion-grid no-padding class="terms">
                    <ion-row>
                        <ion-col size="10" no-padding>
                            <ion-item class="terms_item">
                                <ion-label>I agree to the <a>Terms & Conditions</a>
                                </ion-label>
                                <ion-checkbox slot="start" color="dark"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                        <ion-col size="2" no-padding>
                            <ion-button size="small" (click)="clickTerms()">
                                <i class="material-icons">open_in_new</i>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
        </div>
    </div>

    <div class="btn_wrapper">
        <ion-button shape="round" color="dark" (click)="clickSignup()">Sign Up</ion-button>
    </div>

    <div class="sso_wrapper">
        <p>or login with</p>

        <ion-grid no-padding>
            <ion-row>
                <ion-col no-padding size="4">
                    <ion-button fill="outline" color="dark">
                        <ion-icon slot="icon-only" name="logo-google"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col no-padding size="4">
                    <ion-button fill="outline" color="dark">
                        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col no-padding size="4">
                    <ion-button fill="outline" color="dark">
                        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


</ion-content>